.whatwedo{
    font-weight: 700;
  }
  .ideapng{
    width: 20%;
    height: auto;

  }
  .colidea{
    background: red;
    
  }
  .colcontroller{
    background: rgb(48, 214, 145);
  }
  .colmoniter{
    background: red;
  }
  .colfaster{
    background: rgb(48, 214, 145);
  }