/* .herobg{
    position: absolute;
    background-image: url("/image/brainwave/hero-bg.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    
}

.colbrainwave img {
    float: left;
    width: 5%;
    height: auto;
   
  }
  
  .brainwave {
    position: absolute;
    /* top: 14px;
    left: 10px; */
    /* font-weight: bold; */
    /* color: rgb(29, 115, 169); */
  /* } */

  /* .call{ */
    /* text-align: end; */
  /* } */

  .navheader{
    background: #45c485;
  
  }
.login{
    text-decoration: none;
    
}

.anchor li{
    padding-right: 2em; 
    
}

.anchor1{
  padding-left: 40%;
}
.secondrow{
  background: white;
}
.aboutimg{
  width: 100%;
  height: auto;
  
}
.design{
  padding-right: 20%;
  padding-top: 15%;
  text-align: left;
}
.about{
  font-weight: 700;
}
.aboutpara{
  font-size: medium;
}
.btnmore{
  background: red;
  border-radius: 5px;
}
.about{
  text-decoration: none;

}
.about {
background:
  linear-gradient(
    to right,
    rgba(100, 200, 200, 1),
    rgba(100, 200, 200, 1)
  ),
  linear-gradient(
    to right,
    rgba(255, 0, 0, 1),
    rgba(255, 0, 180, 1),
    rgba(0, 100, 200, 1)
);
}
.about{
background:
  linear-gradient(
    to right,
    rgba(100, 200, 200, 1),
    rgba(100, 200, 200, 1)
  ),
  linear-gradient(
    to right,
    rgba(255, 0, 0, 1),
    rgba(255, 0, 180, 1),
    rgba(0, 100, 200, 1)
);
/* background-size: 100% 10px, 0 6px; */
}
.about {
background:
  linear-gradient(
    to right,
    rgba(100, 200, 200, 1),
    rgba(100, 200, 200, 1)
  ),
  linear-gradient(
    to right,
    rgba(255, 0, 0, 1),
    rgba(255, 0, 180, 1),
    rgba(0, 100, 200, 1)
);
/* background-size: 100% 3px, 0 3px; */
/* background-position: 100% 100%, 0 100%; */
background-repeat: no-repeat;
}
.about:hover {
background-size: 0 5px, 100% 4px;
}
.about {
background:
  linear-gradient(
    to right,
    rgba(100, 200, 200, 1),
    rgba(100, 200, 200, 1)
  ),
  linear-gradient(
    to right,
    rgba(255, 0, 0, 1),
    rgba(255, 0, 180, 1),
    rgba(0, 100, 200, 1)
);
background-size: 100% 3px, 0 3px;
background-position: 100% 100%, 0 100%;
background-repeat: no-repeat;
transition: background-size 400ms;
}



/* what we do */

.whatwedo{
  font-weight: 700;
}
/* .ideapng{
  width: 20%;
  height: auto;

} */
.colidea{
  background: red;
  border-radius: 10px;
  
}
.colcontroller{
  background: rgb(48, 214, 145);
  border-radius: 10px;
}
.colmoniter{
  background: red;
  border-radius: 10px;
}
.colfaster{
  background: rgb(48, 214, 145);
  border-radius: 10px;
}
.whatwedo{
    text-decoration: none;
  
}
.whatwedo {
  background:
    linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
}
.whatwedo{
  background:
    linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
  background-size: 100% 10px, 0 6px;
}
.whatwedo {
  background:
    linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
}
.whatwedo:hover {
  background-size: 0 5px, 100% 4px;
}
.whatwedo {
  background:
    linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}
