/* .herobg{
    position: absolute;
    background-image: url("/image/brainwave/hero-bg.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    
}

.colbrainwave img {
    float: left;
    width: 5%;
    height: auto;
   
  }
  
  .brainwave {
    position: absolute;
    /* top: 14px;
    left: 10px; */
    /* font-weight: bold; */
    /* color: rgb(29, 115, 169); */
  /* } */

  /* .call{ */
    /* text-align: end; */
  /* } */

  .navheader{
    background: #45c485;
  
  }
.login{
    text-decoration: none;
    
}

.anchor li{
    padding-right: 2em; 
    
}

.anchor1{
  padding-left: 40%;
}
.secondrow{
  background: white;
}
.aboutimg{
  width: 100%;
  height: auto;
  
}
.design{
  padding-right: 20%;
  padding-top: 18%;
  text-align: left;
}
.about{
  font-weight: 700;
}
.aboutpara{
  font-size: medium;
}
.btnmore{
  background: red;
  border-radius: 5px;
}
.whatwedo{
  font-weight: 700;
}