.header{
    background-image: url("/image/image-header.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}
.head{
    color: white;
    text-align: center;
    font-family: 'Fraunces', serif;
    font-weight: 600;
    font-size: 18px;
    
}
.navbar-brand{
    font-family: 'Barlow', sans-serif;
}

.arrow{
    margin-top: 40px;
    width: 20px;
}
.pillbutton{
    background-color:white;
  color: black;
  padding: px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0px 0px;
  cursor: pointer;
  border-radius: 18px;
}
.contact{
    font-family: 'Fraunces', sans-seri;
}
/* .col01{
    padding-top: 300px;
} */
.egg{
    background-image: url("/image/image-transform.jpg");
    background-position: center;
    background-size: cover;
    min-height: 80vh;
   
}
.head2{
    padding-top: 100px;
    font-family: 'Fraunces', serif;
    font-weight: 900;
}
.stand{
    background-image: url("/image/image-stand-out.jpg");
    background-position: center;
    background-size: cover;
    min-height: 80vh;
    width: 100%;

}
.head3{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: rgb(42, 87, 42); 
    padding-top: 400px;
}
.cherry{
    background-image: url("/image/image-graphic-design.jpg");
    background-position: center;
    background-size: cover;
    min-height: 80vh;
    width: 100%;
}
.orange{
    background-image: url("/image/image-photography.jpg");
    background-position: center;
    background-size: cover;
    min-height: 80vh;
    width: 100%;
}
.head4{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: rgb(42, 87, 42); 
}
.txt1{
    color: rgb(42, 87, 42); 
}
.head5{
    font-family: 'Fraunces', serif;
    font-weight: 900; 
    color: rgb(42, 87, 42); 
    padding-top: 400px;
}
.txt2{
    color: rgb(42, 87, 42); 
} 
.testimonials{
    font-family:'Barlow', sans-serif;
    text-align: center;
    padding-top: 150px;
    color: gray;
    letter-spacing: 3px;
}
.emily{
    height: 80px;
    border-radius: 50%;
}
.thommas{
    height: 80px;
    border-radius: 50%;
}
.jenny{
    height: 80px;
    border-radius: 50%;
}
.bottle{
    background-image: url("/image/image-gallery-milkbottles.jpg");
    background-position: center;
    background-size: cover;
    min-height: 80vh;
}
.lemon{
    background-image: url("/image/image-gallery-orange.jpg");
    background-position: center;
    background-size: cover;
    min-height: 80vh;
}
.corn{
    background-image: url("/image/image-gallery-cone.jpg");
    background-position: center;
    background-size: cover;
    min-height: 80vh;
}
.icebox{
    background-image: url("/image/image-gallery-sugarcubes.jpg");
    background-position: center;
    background-size: cover;
    min-height: 80vh;
}
