.header{
    background-image: url("/image/image-header.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}
.navbar-nav{
    text-align: right;
  }
  .navbar .navbar-nav .nav-link {
      color: #ffffff;
      font-size: 1.3em;
      padding-right: 2em;
      font-family: 'Barlow', sans-serif;
  }
  .navbar .navbar-nav .nav-link:hover{
      color: rgb(255, 187, 0);
  }
.head{
    color: white;
    text-align: center;
    font-family: 'Fraunces', serif;
    font-weight: 600;
    font-size: 18px;
    
}
.navbar-brand{
    font-family: 'Barlow', sans-serif;
}

.arrow{
    margin-top: 40px;
    width: 20px;
}
.pillbutton{
    background-color:white;
  color: black;
  padding: px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0px 0px;
  cursor: pointer;
  border-radius: 18px;
}
.contact{
    font-family: 'Fraunces', sans-seri;
}
/* .col01{
    padding-top: 300px;
} */
.egg{
    background-image: url("/image/image-transform.jpg");
    background-position: center;
    background-size: cover;
    min-height: 80vh;
   
}
.head2{
    padding-top: 250px;
    font-family: 'Fraunces', serif;
    font-weight: 900;
}
.stand{
    background-image: url("/image/image-stand-out.jpg");
    background-position: center;
    background-size: cover;
    min-height: 80vh;
    width: 100%;

}
.head3{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: rgb(42, 87, 42); 
    padding-top: 400px;
}
.cherry{
    background-image: url("/image/image-graphic-design.jpg");
    background-position: center;
    background-size: cover;
    min-height: 80vh;
    
}
.orange{
    background-image: url("/image/image-photography.jpg");
    background-position: center;
    background-size: cover;
    min-height: 80vh;

}
.head4{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: rgb(42, 87, 42); 
}
.txt{
    color: rgb(84, 82, 82); 
    font-family: 'Barlow', sans-serif;
}
.txt1{
    color: rgb(42, 87, 42); 
    font-family: 'Barlow', sans-serif;
}
.head5{
    font-family: 'Fraunces', serif;
    font-weight: 900; 
    color: rgb(42, 87, 42); 
    padding-top: 400px;
}
.txt2{
    color: rgb(84, 82, 82); 
    font-family: 'Barlow', sans-serif;
}
 
.testimonials{
    font-family: 'Fraunces', serif;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 40px;
    color: gray;
    letter-spacing: 3px;
    opacity: 50px;
}
.emily{
    height: 80px;
    border-radius: 50%;
}
.thommas{
    height: 80px;
    border-radius: 50%;
}
.jenny{
    height: 80px;
    border-radius: 50%;
}
.bottle{
    background-image: url("/image/image-gallery-milkbottles.jpg");
    background-position: center;
    background-size: cover;
    min-height: 55vh;
    width: 100%;
}
.lemon{
    background-image: url("/image/image-gallery-orange.jpg");
    background-position: center;
    background-size: cover;
    min-height: 55vh;
    width: 100%;
}
.cone{
    background-image: url("/image/image-gallery-cone.jpg");
    background-position: center;
    background-size: cover;
    min-height: 55vh;
    width: 100%;
}
.icebox{
    background-image: url("/image/image-gallery-sugarcubes.jpg");
    background-position: center;
    background-size: cover;
    min-height: 55vh;
    width: 100%;
}
.footer{
    background-color: rgb(142, 216, 182);
    padding-top: 70px;
    padding-bottom: 70px;
}
.about{
    font-weight: 500;
    color: rgb(39, 101, 69);
}
.service{
    font-weight: 500;
    color: rgb(39, 101, 69);
}
.project{
    font-weight: 500;
    color: rgb(39, 101, 69);
}
.emihead{
    font-family: 'Fraunces', serif;
}
.emitxt{
    font-family: 'Barlow', sans-serif;
    color: rgb(84, 82, 82);
    font-weight: 300;
}
.thomhead{
    font-family: 'Fraunces', serif;
}
.thomtxt{
    font-family: 'Barlow', sans-serif;
    color:rgb(84, 82, 82);

}
.jenhead{
    font-family: 'Fraunces', serif;
}
.jentxt{
    font-family: 'Barlow', sans-serif;
    color: rgb(84, 82, 82);
}
.market{
    color: rgb(144, 141, 141);
    letter-spacing: -1px;
    font-family: 'Barlow', sans-serif;
}
.cheif{
    color: rgb(144, 141, 141);
    letter-spacing: -1px;
    font-family: 'Barlow', sans-serif;
}
.busi{
    color: rgb(144, 141, 141);
    letter-spacing: -1px;
    font-family: 'Barlow', sans-serif;
}
.mid{
    padding-bottom: 100px;
}
.rainbow{
    background-color: #f3f5f6;
    border-radius: 4px;  
    color: #fff;
    cursor: pointer;
    padding: 8px 16px;
    
}
  
.rainbow-1:hover{
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    animation:slidebg 5s linear infinite;
 }
.rainbow-2:hover{
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    animation:slidebg 5s linear infinite;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #ffffff;
}

a {
  position: relative;
  padding: 20px 50px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  width: 200px;
  overflow: hidden;
  border-radius: 40px;
}

a span {
  position: relative;
  color: #fff;
  font-size: 15px;
  font-family: Arial;
  letter-spacing: 5px;
  z-index: 1;
}

a .liquid {
  position: absolute;
  top: -80px;
  left: 0;
  width: 200px;
  height: 200px;
  background: #f5c60b;
  box-shadow: inset 0 0 50px rgba(255, 255, 255, 0.5);
  transition: .5s;
}

a .liquid::after,
a .liquid::before {
  content: '';
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #ffffff;
}

a .liquid::before {
  
  border-radius: 45%;
  background: rgba(20, 20, 20, 1);
  animation: animate 5s linear infinite;
}

a .liquid::after {
  
  border-radius: 40%;
  background: rgba(21, 20, 20, 0.5);
  animation: animate 10s linear infinite;
}

a:hover .liquid{
  top: -120px;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}


a .liquid1 {
    position: absolute;
    top: -80px;
    left: 0;
    width: 200px;
    height: 200px;
    background: #e47d6b;
    box-shadow: inset 0 0 50px rgba(255, 255, 255, 0.5);
    transition: .5s;
  }
  
  a .liquid1::after,
  a .liquid1::before {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #ffffff;
  }
  
  a .liquid1::before {
    
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    animation: animate 5s linear infinite;
  }
  
  a .liquid1::after {
    
    border-radius: 40%;
    background: rgba(21, 20, 20, 0.5);
    animation: animate 10s linear infinite;
  }
  
  a:hover .liquid1{
    top: -120px;
  }
  
  @keyframes animate {
    0% {
      transform: translate(-50%, -75%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -75%) rotate(360deg);
    }
  }
 