.contact{
    font-size: medium;
    font-weight: 700;
}
.email{
    font-size: medium;
    font-weight: 700;
}
.feed{
    font-size: medium;
    font-weight: 700;
    color:rgb(31, 143, 228);
}
.carousel-caption {
    position: absolute;
    top:-40px
 }

